{% extends "template.html.jinja" %}
{% set pageTitle = "Home" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/endpoint-cards.css" />
{% endblock %}


{% block main %}
{% for endpoint in docs %}
<section class="endpoint-card {% if endpoint.method == 'POST' %}request-POST {% elif endpoint.method == 'GET' %}request-GET{%endif%}">
  <header>
    <h2>{{ endpoint.title }}</h2>
    <pre>{{ endpoint.route }}</pre>
    <p>
      {{ endpoint.description|safe }}
    </p>
  </header>
  {% if endpoint.parameters|length > 0 %}
  <h3>Parameters</h3>
  <table class="param-table">
    <tr>
      <th>Field</th>
      <th>Description</th>
      <th>Format</th>
    </tr>
    {% for parameter in endpoint.parameters %}
    {% set parameter = endpoint.parameters[parameter] %}
    <tr>
      <th>{{ parameter.field }}</th>
      <td>{{ parameter.desc }}</td>
      <td><pre>{{ parameter.format }}</pre></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% if global_params[endpoint.method]|length > 0 %}
  <h3>Global Parameters</h3>
  <table class="param-table">
    <tr>
      <th>Field</th>
      <th>Description</th>
      <th>Format</th>
    </tr>
    {% for parameter in global_params[endpoint.method] %}
    {% set parameter = global_params[endpoint.method][parameter] %}
    <tr>
      <th>{{ parameter.field }}</th>
      <td>{{ parameter.desc }}</td>
      <td><pre>{{ parameter.format }}</pre></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% if endpoint.example_requests|length > 0 %}
  <h3>Example{% if endpoint.example_requests|length > 1 %}s{% endif %}</h3>
  {% for request in endpoint.example_requests %}
  <h4>{{ request.desc }}</h4>
  <pre class="example">{{ request.example|replace('%url%',url_for('index', _external=true)) }}</pre>
  {% endfor %}
  {% endif %}
  <h4>Response</h4>
  <pre class="example">{{ endpoint.response }}</pre>
</section>
{% endfor %}
{% endblock %}
