{% extends "template.html.jinja" %}
{% set pageTitle = "Home" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/endpoint-cards.css" />
{% endblock %}


{% block main %}
{% for endpoint in docs %}
{% set endpoint = docs[endpoint] %}
<section class="endpoint-card {% if endpoint.method == 'POST' %}request-POST {% elif endpoint.method == 'GET' %}request-GET{%endif%}">
  <header>
    <h2>{{ endpoint.title }}</h2>
    <pre>{{ endpoint.route }}</pre>
    <p>
      {{ endpoint.description }}
    </p>
  </header>
  <h3>Parameters</h3>
  <table class="param-table">
    <tr>
      <th>Field</th>
      <th>Description</th>
      <th>Format</th>
    </tr>
    {% for parameter in endpoint.parameters %}
    {% set parameter = endpoint.parameters[parameter] %}
    <tr>
      <th>{{ parameter.field }}</th>
      <td>{{ parameter.desc }}</td>
      <td><pre>{{ parameter.format }}</pre></td>
    </tr>
    {% endfor %}
  </table>
  <h3>Examples</h3>
  {% for request in endpoint.example_requests %}
  <h4>{{ request.desc }}</h4>
  <pre class="example">{{ request.example }}</pre>
  {% endfor %}
  <h4>Response</h4>
  <pre class="example">{{ endpoint.response }}</pre>
  <h4>Error Format</h4>
  <pre class="example">{{ endpoint.error_format }}</pre>
</section>
{% endfor %}
{% endblock %}
