<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      You can look but don't touch

      Powered by Flask, Pillow, and caffine
      -->

    <title>Augur | {{ pageTitle }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://tools.noimbrian.com/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
    {# Place additional stylesheets here #}
    {% block stylesheets %}
    {% endblock %}


    <!-- OpenGraph and Linking tags -->
    <meta name="author" content="Brian Donald">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://augur.noimbrian.com{{ url_for(request.endpoint) }}">
		<meta property="og:title" content="Augur | {{ pageTitle }}">
    <meta property="og:site_name" content="Augur">
		<meta property="og:description" content="An Image Utility API">
		<meta property="og:image" content="https://augur.noimbrian.com/img/logo-text.png">
    <meta property="og:image:type" content="image/png">

    <!-- Viewport and compatibility tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <header>
      <div class="text-wrapper">
        <h1>Augur</h1>
        <span>An Image Utility API</span>
      </div>
      <div class="image-wrapper">
        <img src="/img/logo.png" alt=" "/>
      </div>
      <div class="subheading">
        <p>
          <a target="_blank" href="https://github.com/0c370t/Augur">Augur</a> uses <a target="_blank" href="https://github.com/pallets/flask">Flask</a> and <a target="_blank" href="https://github.com/python-pillow/Pillow">Pillow</a> to modify images in an easy to use, RESTful way.
        </p>
      </div>
    </header>

    <main>
      {% block main %}
        {{ pageTitle |default("This")}} page is still under construction.
      {% endblock %}
    </main>

    <footer>
      <p>Augur is made available under the Mozilla Public License, v. 2.0, see details on <a target="blank" href="https://github.com/0c370t/Augur">GitHub</a></p>
      <p>The Python Imaging Library (PIL) is Copyright © 1997-2011 by Secret Labs AB Copyright © 1995-2011 by Fredrik Lundh</p>
      <p>Pillow is the friendly PIL fork. It is Copyright © 2010-2019 by Alex Clark and contributors</p>
      <p><a target="_blank" href="https://raw.githubusercontent.com/python-pillow/Pillow/master/LICENSE">PIL Software Lisence</a></p>
    </footer>

    {# Place additional script tags here #}
    {% block scripts %}
    {% endblock %}
  </body>

</html>
